{% extends "base.html" %}
{% load static %}
{% block title %}搜索{% endblock %}

{% block content %}


    <div class="container col-md-8 col-md-offset-2">

        <div class="container">
            <form action="/search" method="GET">
                <div class="row col-md-7 col-md-offset-1">

                    {% for radio in searchForm.search_by %}
                        <div class="radio-inline">
                            {{ radio }}
                        </div>
                    {% endfor %}

                    <div class="input-group">
                        {{ searchForm.keyword }}
                        <span class="input-group-btn">
                        <button class="btn btn-default btn-lg btn-info" type="submit">搜索</button>
                    </span>
                    </div>
                </div>
            </form>
        </div>

        <h2 id='hint' class="label-success col-md-5 col-md-offset-2">以下是{{ search_by }}匹配'{{ keyword }}'的结果</h2>
         <table class="table table-hover">
            <thead>
            <th>#</th>
            <th>id</th>
            <th>名称</th>
            <th>说明</th>
            <th>配置</th>
            <th>上传时间</th>
            <th>hex</th>
            </thead>
            <tbody>
            {% for PCB in PCBs %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ PCB.id }}</td>
                    <td>{{ PCB.name }}</td>
                    <td>{{ PCB.directions }}</td>
                    <td>{{ PCB.config }}</td>
                    <td>{{ PCB.date_issued }}</td>
                    <td>{{ PCB.hex }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td>暂无数据</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

<!--        <table class="table table-hover">-->
<!--            <thead>-->
<!--            <th>#</th>-->
<!--            <th>封面</th>-->
<!--            <th>标题</th>-->
<!--            <th>作者</th>-->
<!--            <th>分类</th>-->
<!--            <th>在馆位置</th>-->
<!--            <th>在馆数量</th>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            {% for book in PCBs %}-->
<!--                <tr>-->
<!--                    <td>{{ forloop.counter }}</td>-->
<!--                    <td>-->
<!--                        <a href="/book/detail?ISBN={{ book.ISBN }}">-->
<!--                            <img class="img-responsive"-->
<!--                                 src="/media/{{ book.cover }}"-->
<!--                                 width="90"-->
<!--                                 height="128"-->
<!--                                 alt="{{ book.title }}">-->
<!--                        </a>-->
<!--                    </td>-->
<!--                    <td><a href="/book/detail?ISBN={{ book.ISBN }}">{{ book.title }}</a></td>-->
<!--                    <td>{{ book.author }}-->
<!--                    <td>{{ book.category }}</td>-->
<!--                    <td>{{ book.location }}</td>-->
<!--                    <td>{{ book.quantity }}</td>-->
<!--                </tr>-->
<!--            {% empty %}-->
<!--                <tr>-->
<!--                    <td>暂无图书</td>-->
<!--                </tr>-->
<!--            {% endfor %}-->
<!--            </tbody>-->
<!--        </table>-->

        <nav class="myContainer">
            <ul class="pager">
                {% if PCBs.has_previous %}
                    <li class="previous"><a
                            href="{{ current_path }}&page={{ PCBs.previous_page_number }}#hint">上一页</a>
                    </li>
                {% else %}
                    <li class="previous disabled"><a href="#">上一页</a></li>
                {% endif %}
                第 {{ PCBs.number }} / {{ PCBs.paginator.num_pages }}页
                {% if PCBs.has_next %}
                    <li class="next"><a
                            href="{{ current_path }}&page={{ PCBs.next_page_number }}#hint">下一页</a>
                    </li>
                {% else %}
                    <li class="next disabled"><a href="#">下一页</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}
